body {
    display: flex;
    flex-direction: row;
    justify-content:center;
    height: 100vh;
}

.header {
    color: white;
}

  .form_parent {
    display : flex;
    height: 100vh;
    background-image: url('byArtboard 1.png');
    background-size: cover;
    background-position: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 440px;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out;
}

.main:hover {
    transform: scale(1.05);
  }

.input_container {
    padding: 10px;
    position: relative;
} 


 .input {
    color: white;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px  solid rgb(255, 255, 255);
    width: 250px;
    height: 20px;
    outline: none;
}


::placeholder {
    color: rgb(255, 255, 255);
} 

.fa-regular {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 10px;
   font-size: 16px;
   cursor: pointer;
}

  .previously-focused:invalid {
  border: 2px solid red;
}

  .sign_up {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: 0;
  }
 
  .first-half {
    flex-grow:1; 
  }
 

  .server {
    flex-grow:3; 
  }

  table {
    position: absolute;
    top: 5%;
    left: 52%;
  }

  td {
    padding : 20px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .edit {
    padding: 20px;
    border-radius: 10px;
  }

  .newinput {
    padding: 20px;
    resize: none;
    display: block;

  }

  .fetch {
      border-radius: 20px;
      height: 30px;
      background-color: rgb(1, 1, 11);
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(375%, 150%);
  }

  #fetchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  
